<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dsnlHMOsystems.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="dsnlHMOsystems.My.MySettings.cnnstring" connectionString="Data Source=Badosoft;Initial Catalog=dsnlHMODB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dsnlHMOsystems.My.MySettings.cnnstringOLE" connectionString="Provider=SQLNCLI11;Data Source=Badosoft;Integrated Security=SSPI;Initial Catalog=dsnlHMODB"
            providerName="System.Data.OleDb" />
        <add name="dsnlHMOsystems.My.MySettings.ConnectionString" connectionString="Dsn=dsnlHMODB"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
 
    <userSettings>
        <dsnlHMOsystems.My.MySettings>
            <setting name="loginid" serializeAs="String">
                <value />
            </setting>
            <setting name="fsave" serializeAs="String">
                <value />
            </setting>
            <setting name="imgaepath" serializeAs="String">
                <value>C:\dsnlHMOsystems\dsnlHMOsystems\dsnlHMOsystems\Images</value>
            </setting>
            <setting name="OPTRR" serializeAs="String">
                <value />
            </setting>
            <setting name="optname" serializeAs="String">
                <value />
            </setting>
            <setting name="newrec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loginname" serializeAs="String">
                <value />
            </setting>
            <setting name="bcodedigit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="switch1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sloginid" serializeAs="String">
                <value />
            </setting>
            <setting name="sloginname" serializeAs="String">
                <value />
            </setting>
            <setting name="newrec2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bcodedigit2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reportsqlstr" serializeAs="String">
                <value />
            </setting>
            <setting name="Rptpath" serializeAs="String">
                <value>C:\dsnlHMOsystems\Report</value>
            </setting>
            <setting name="Assignfolderr" serializeAs="String">
                <value />
            </setting>
            <setting name="COY" serializeAs="String">
                <value />
            </setting>
            <setting name="reportsqlstr2" serializeAs="String">
                <value />
            </setting>
            <setting name="companyimg" serializeAs="String">
                <value />
            </setting>
            <setting name="companyadd1" serializeAs="String">
                <value />
            </setting>
            <setting name="companyadd2" serializeAs="String">
                <value />
            </setting>
            <setting name="companyname" serializeAs="String">
                <value />
            </setting>
            <setting name="companyid" serializeAs="String">
                <value />
            </setting>
            <setting name="searchid" serializeAs="String">
                <value />
            </setting>
            <setting name="searchsqlstm" serializeAs="String">
                <value />
            </setting>
            <setting name="callformname" serializeAs="String">
                <value />
            </setting>
            <setting name="photopath" serializeAs="String">
                <value>C:\dsnlHMOsystems\Photo</value>
            </setting>
            <setting name="docfolder" serializeAs="String">
                <value>C:\dsnldoc</value>
            </setting>
            <setting name="txtpath" serializeAs="String">
                <value>C:\dsnlHMOsystems\dsnlHMOsystems\dsnlHMOsystems</value>
            </setting>
        </dsnlHMOsystems.My.MySettings>
    </userSettings>
</configuration>